<div class="rounded-xl">
    <h2 class="text-center mt-5 font-semibold text-xl">การสั่งซื้อเสร็จสิ้น</h2>
    
    <!-- <div class="mt-2 text-center font-extralight base">
      <p>ท่านต้องการกลับไปยังหน้าแรก</p>
    </div> -->
    
    <div class="text-center mt-6">
      <button class="mx-5 p-3 text-gray-100 bg-[rgba(250,175,21,1)] hover:bg-yellow-600 rounded-lg" mat-button mat-dialog-close (click)="confirmAction()">ยืนยัน</button>
      <button class="mx-5 p-3 text-gray-100 bg-[#b97323] hover:bg-yellow-950 rounded-lg" mat-button mat-dialog-close (click)="onNoClick()">ยกเลิก</button>
    </div>
  </div>