
<div class="custom-background-top sticky top-0 w-full " style="height: 212.2px;"></div>
    <div class="custom-background relative  overflow-y-auto h-screen ">

        <div class="bg-[rgba(250,175,21,1)] p-3 rounded-3xl m-6 text-center text-2xl text-white">
            <div class="flex flex-col items-center">
                <p class="mx-auto">โต๊ะ 1</p>
            </div>
        </div>
        
        <div *ngFor="let order of orders" class="mb-3 rounded-3xl bg-white m-7 p-2">
            <img [src]="order.test" class="mx-auto p-3 w-500 h-48 rounded-lg">
            <div class="flex items-center justify-between mx-12">
              <p class="">{{ order.name }}</p>
              <p class="font-bold ">{{ order.price }}</p>
              <p class="font-normal ">B</p>
            </div>
          </div>
          
          <div>
            <p class="text-white mx-10 mb-1 mt-2">เลือกรายละเอียด</p>
        </div>
          
        <div class="mb-3 h-auto mx-7 rounded-3xl text-center  bg-white ">
            <div class="grid grid-row-4 text-left mx-7 p-2">
                <div class="grid grid-cols-2">
                    <div *ngFor="let detail of foodDetails" class="flex items-center">
                        <input type="checkbox" [value]="detail.id" class="mr-2 cursor-pointer" (change)="toggleDetailSelection(detail)">
                        <label>{{ detail.detailname }}</label>
                    </div>
                </div>
            </div>
        </div>
        

        <div>
            <p class="text-white mx-10 mb-1 mt-2">รายละเอียดเพิ่มเติม</p>
        </div>

        <textarea class="resize-none rounded-2xl h-24 w-80 p-2 text-left 2xl:w-full ml-7" placeholder=" เช่น ไม่เอาผัก,เผ็ดน้อย"></textarea>


        <div class="bottom-0 w-full flex justify-center">
            <button class="m-6 p-2 ml-7 md:p-5 w-11/12 md:w-1/2 max-w-xs bg-[#b97323] rounded-3xl text-lg text-white" (click)="black()">
                รายการอาหาร
            </button>
            <button class="m-6 p-2 mr-7 md:p-5 w-11/12 md:w-1/2 max-w-xs bg-[rgba(250,175,21,1)] rounded-3xl text-lg text-white" (click)="addToCart()">
                ยืนยัน
            </button>
        </div>
</div>





        
