
<!-- 
<div class="mt-14 mx-auto max-w-6xl grid grid-cols-[40%_60%]"> 
    <div>
        <div class="sticky top-14 grid h-screen"> 
            <div>Title</div>
            <div>Nav</div>
            <div class="flex items-end grid-rows-[40%_50%_20%] ">Link</div>
        </div>
    </div>
    <div>
        <div>About</div>
        <div class="mb-96">Experience
            <img src="assets/image/imageOrder.png" alt="Description" class="w-full h-auto mx-auto rounded shadow-lg">

        </div>
        <div class="mb-96">Experience</div>
        <div class="mb-96">Experience</div>
        <div class="mb-96">Experience</div>
    </div>    
</div> -->


<!-- 
<div class="grid grid-rows-[20fr_60fr] min-h-screen">
    <div class="custom-background-top sticky top-0 w-full h-full"></div>
   
    <div class="custom-background">
          <div>
            <div>
                <div class="bg-[rgba(250,175,21,1)] mx-36 my-2 p-3 rounded-3xl  mb-3 text-center text-2xl text-white">โต๊ะ 1</div>
                <div class="mb-3 h-60 mx-5 rounded-3xl bg-white" >
                    <div >
                        <img src="assets/image/food01.png" class="mx-auto p-3 w-500 h-48">
                        <div class="flex items-center">
                            <p class="mx-8">เส้นเล็กเนื้อเปื่อย</p>
                            <p class="font-bold mr-auto mx-3">45 B</p>
                            <p class="mx-12">1</p>
                        </div>
                    </div>
                </div> 
                <div class="mb-3 h-28 mx-5 rounded-3xl text-center  bg-white" >
                    <div class="grid grid-row-4 text-left mx-7 p-2">
                        <div class="checkbox-container flex items-center">
                            <input type="checkbox" id="checkbox1 ">  
                            <p class="mr-auto mx-1">เส้นหมี่</p>
                            <p>0 B</p>
                        </div>
                        <div class="checkbox-container flex items-center">
                            <input type="checkbox" id="checkbox2"> 
                            <p class="mr-auto mx-1">เส้นเล็ก</p>
                            <p>0 B</p>
                        </div>
                        <div class="checkbox-container flex items-center">
                            <input type="checkbox" id="checkbox3">
                            <p class="mr-auto mx-1">เส้นใหญ่</p>
                            <p>0 B</p>
                        </div>
                        <div class="checkbox-container flex items-center">
                            <input type="checkbox" id="checkbox4"> 
                            <p class="mr-auto mx-1">เส้นหมี่เหลือง</p>
                            <p>0 B</p>
                        </div>
                    </div>
                </div> 
                <div class="mb-1 h-16 mx-5 rounded-3xl text-center  bg-white" >
                    <div class="grid grid-row-2 text-left mx-7 p-2">
                        <div class="checkbox-container flex items-center">
                            <input type="checkbox" id="checkbox1"> 
                            <p class="mr-auto mx-1">ธรรมดา</p>
                            <p>0 B</p>
                        </div>
                        <div class="checkbox-container flex items-center">
                            <input type="checkbox" id="checkbox2"> 
                            <p class="mr-auto mx-1">พิเศษ</p>
                            <p>15 B</p>
                        </div>

                    </div>
                </div> 
                <div>
                    <p class=" text-white  mx-10 mb-1 ">รายละเอียดเพิ่มเติม</p>
                </div>
                <div class="text-center">
                    <textarea class="resize-none rounded-2xl h-24 w-screen mx-5 text-left" placeholder=" เช่น ไม่เอาผัก,เผ็ดน้อย"></textarea>
                </div>
            </div>

            <div class="sticky bottom-0">
                <button class=" m-5 p-5 w-screen bg-[rgba(250,175,21,1)]   rounded-3xl  text-lg text-white ">
                    <div class="flex items-center">
                        <p class="mr-auto">เส้นเล็กเนื้อเปื่อย</p>
                        <p class="font-bold mr-5">60</p>
                    </div>
                </button>
            </div>

            
          </div >
          
    </div>
    
</div> -->

<!-- +++ -->


<div class="grid grid-rows-[20fr_60fr] min-h-screen relative overflow-hidden">
    <div class="custom-background-top sticky top-0 w-full h-full z-50"></div>
   
    <div class="custom-background relative z-40 md:mx-36 w-full 2xl:transform 2xl:-translate-x-36">
        <div class="bg-[rgba(250,175,21,1)] p-3 rounded-3xl m-6 text-center text-2xl text-white">
            <div class="flex flex-col items-center">
                <p class="mx-auto">โต๊ะ 1</p>
            </div>
        </div>
        
        <div *ngFor="let order of orders" class="mb-3 rounded-3xl bg-white m-7 p-2">
            <img [src]="order.test" class="mx-auto p-3 w-500 h-48 rounded-lg">
            <div class="flex items-center justify-between mx-12">
              <p class="">{{ order.name }}</p>
              <p class="font-bold ">{{ order.price }}</p>
              <p class="font-normal ">B</p>
            </div>
          </div>
          
          
          <!-- <div>
            <p class="text-white mx-10 mb-1 mt-2">เลือกรายละเอียด</p>
        </div>
          
     <div class="mb-3 h-auto mx-7 rounded-3xl text-center  bg-white " >
            <div class="grid grid-row-4 text-left mx-7 p-2">
                    <div class="grid grid-cols-2 ">
                      <div *ngFor="let detail of foodDetails" class="flex items-center">
                        <input type="checkbox" [value]="detail.id" class="mr-2">
                        <label>{{ detail.detailname }}</label>
                      </div>
                    </div>
            </div>
        </div>  -->

    
        <div>
            <p class="text-white mx-10 mb-1 mt-2">รายละเอียดเพิ่มเติม</p>
        </div>
          
        
          <!-- <div class="mb-3 h-28 mx-7 rounded-3xl text-center  bg-white" >
            <div class="grid grid-row-4 text-left mx-7 p-2">
                <div class="checkbox-container flex items-center">
                    <input type="checkbox" id="checkbox1 ">  
                    <p class="mr-auto mx-1">เส้นหมี่</p>
                    <p>0 B</p>
                </div>
                <div class="checkbox-container flex items-center">
                    <input type="checkbox" id="checkbox2"> 
                    <p class="mr-auto mx-1">เส้นเล็ก</p>
                    <p>0 B</p>
                </div>
                <div class="checkbox-container flex items-center">
                    <input type="checkbox" id="checkbox3">
                    <p class="mr-auto mx-1">เส้นใหญ่</p>
                    <p>0 B</p>
                </div>
                <div class="checkbox-container flex items-center">
                    <input type="checkbox" id="checkbox4"> 
                    <p class="mr-auto mx-1">เส้นหมี่เหลือง</p>
                    <p>0 B</p>
                </div>
            </div>
        </div> 

        <div class="mb-1 h-16 mx-7 rounded-3xl text-center  bg-white" >
            <div class="grid grid-row-2 text-left mx-7 p-2">
                <div class="checkbox-container flex items-center">
                    <input type="checkbox" id="checkbox1"> 
                    <p class="mr-auto mx-1">ธรรมดา</p>
                    <p>0 B</p>
                </div>
                <div class="checkbox-container flex items-center">
                    <input type="checkbox" id="checkbox2"> 
                    <p class="mr-auto mx-1 ">พิเศษ</p>
                    <p>15 B</p>
                </div>
            </div>
        </div> 

        <div>
            <p class="text-white mx-10 mb-1 mt-2">รายละเอียดเพิ่มเติม</p>
        </div> -->

        <textarea class="resize-none rounded-2xl h-24 w-80 p-2 text-left 2xl:w-full ml-7" placeholder=" เช่น ไม่เอาผัก,เผ็ดน้อย"></textarea>

        <div class="bottom-0 w-full flex justify-center">
            <button class="m-6 p-2 ml-7 md:p-5 w-11/12 md:w-1/2 max-w-xs bg-[#4e3721] rounded-3xl text-lg text-white" (click)="black()">
                รายการอาหาร
            </button>
            <button class="m-6 p-2 mr-7 md:p-5 w-11/12 md:w-1/2 max-w-xs bg-[rgba(250,175,21,1)] rounded-3xl text-lg text-white" (click)="addToCart()">
                ยืนยัน
            </button>
        </div>

    </div>
</div>



   <!-- <div class="sticky bottom-0"> -->
            <!-- <button class=" m-5 p-5 w-screen bg-[rgba(250,175,21,1)]   rounded-3xl  text-lg text-white " (click)="openDialog()">
                <div class="flex items-center">
                    <p class="mr-auto">เส้นเล็กเนื้อเปื่อย</p>
                    <p class="font-bold mr-5">60</p>
                </div>
            </button> -->
        <!-- </div> -->